/* Reset shit copied from http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

html,
body
{
	background-color: #999;
}

#header { height: 1.75em; margin-bottom: .5em; }
#header a { font-style: normal; text-decoration: none; }
#header a, #header a:visited { color: #00F; }
#brand { margin-left: 15px; }

#brand { float:left; font-size: 1.5em; }

#wrapper
{ 
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEE;
	
}

#primary, #secondary { }
#primary { float: left; width: 769px; margin: 0; padding-left: 10px; border-right: solid 1px black; }
#secondary { float: left; width: 165px; padding-left: 15px; margin: 0; }

#primary p { margin: 4px 0 4px 10px; }

#footer { clear: both; padding-top: 10px; }
#footer p { font-size: .5em; }


.code, .output
{
	padding: 5px;
	font-family: Monospace;
	background-color: #FFF;
}
.code pre, .output pre { padding: 0; min-width: 100%; }
.code td, .output td { padding-left: 4px; }
.code td.highlight { background-color: #FDD; }
table.linenumbers
{
	padding-right: 4px;
	border-right: solid 2px black;
	width: 30px;
}
.linenumbers td { text-align: right; }
.linenumbers td a { text-decoration: none; color: Black; }

pre
{
	padding: 5px;
	font-family: Monospace;
	display: block;
}

pre.code, pre.output { background-color: #FFF; }
pre.errors { background-color: #EFF; }

div.output { max-height: 30em; }
div.code, div.output, div.errors { padding: 5px; overflow-y: auto;  }

form { padding: 5px; }

hr { width: 98%; margin: 4px 0 4px 0; }

textarea.code
{
	width: 95%;
	height: 500px;
	margin-right: auto;
	margin-left: auto;
}

.code table.outer { width: 100%; }
.code table.inner { width: 100%; }

#secondary li { margin: .4em 0 0 0; }
#secondary li a:visited { color: Blue; }