/* Reset shit copied from http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: top;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	
	font-family: Consolas, sans-serif;
	font-size: 9pt;

	overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


#header { height: 1.75em; margin-bottom: .5em; margin-top: .5em; padding-top: .3em; }
#header a { font-style: normal; text-decoration: none; }
#header a, #header a:visited { color: #00F; }
#brand { margin-left: 15px; }

#brand { float:left; font-size: 1.5em; font-family: Consolas, Courier New, Monospace; }

#wrapper
{ 
	width: 960px;
	margin: 10px auto;
	background-color: #EEE;

	-moz-box-shadow: rgba(0,0,0,0.6) 0 1px 15px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 15px 0;
	-o-box-shadow: rgba(0,0,0,0.6) 0 1px 15px 0;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 15px 0;

	border: 1px solid rgba(0, 0, 0, 0.4);
}

a { text-decoration: none }

#primary {
	float: left;
	width: 769px;
	min-height: 1px;
	margin: 0;
	padding-left: 10px;
	border-right: solid 1px black;
}

#secondary {
	float: left;
	width: 165px;
	padding-left: 15px;
	margin: 0;
}

#primary p { margin: 4px 0 4px 10px; }

#footer { clear: both; padding-top: 10px; }
#footer p { font-size: .5em; margin: 0px auto; width: 20em; text-align: center; }


.code, .output, .disassembly
{
	padding: 5px;
	font-family: Consolas, Courier New, Monospace;
	background-color: #FFF;
}
.code pre, .output pre, .disassembly pre { padding: 0; min-width: 100%; }
.code td, .output td, .disassembly td { padding-left: 4px; }
.code .highlight, .output .highlight, .disassembly .highlight { background-color: #FDD; }
table.linenumbers
{
	padding-right: 4px;
	border-right: solid 2px black;
	width: 30px;
	font-size: 10pt;
	cursor: pointer;
}
.linenumbers td { text-align: right; color: Blue }

pre
{
	padding: 5px;
	display: block;
	font-size: 10pt;
}

pre.code, pre.output, pre.disassembly { background-color: #FFF; }
pre.errors { background-color: #EFF; }

div.output { max-height: 30em; }
div.code, div.output, div.errors, div.disassembly { padding: 5px; overflow-y: auto;  }

form { padding: 5px; }

hr { width: 98%; margin: 4px 0 4px 0; }

textarea.code
{
	width: 95%;
	height: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;

	font-size: 10pt;
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.code table.outer { width: 100%; }
.code table.inner { width: 100%; }

#secondary li { margin: .4em 0 0 0; }
#secondary li a:visited { color: Blue; }

input[type="radio"] {
	margin-right: -4px;
	margin-top: -1px;
	display: inline-block;
}

label[for="IsPrivate"] {
	margin-top: 6px;
	margin-left: -6px;
	display: inline-block;
}
