/* Reset shit copied from http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: top;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	/* thanks to http://subtlepatterns.com/subtle-grey/ for the background pic */
	background: white url('/Content/img/grey.png');
	
	font-size: 13px;
	font-family: Arial, sans-serif;

	overflow-y: scroll;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

h2 { font-size: 1.2em; margin-bottom: 10px; }


#header { height: 2.25em; margin-bottom: .5em; margin-top: .5em; padding-top: .3em; }
#header a { font-style: normal; text-decoration: none; }
#header a, #header a:visited { color: #00F; }
#brand { margin-left: 15px; }

#brand {
	float: left;
	font-size: 1.5em;
	font-family: Consolas, Courier New, Monospace;
}

#wrapper { 
	width: 960px;
	margin: 10px auto;
	background-color: #EEE;

	-moz-box-shadow: rgba(0,0,0,0.6) 0 1px 15px 0;
	-webkit-box-shadow: rgba(0, 0, 0, 0.6) 0 1px 15px 0;
	-o-box-shadow: rgba(0,0,0,0.6) 0 1px 15px 0;
	box-shadow: rgba(0, 0, 0, 0.6) 0 1px 15px 0;

	border: 1px solid rgba(0, 0, 0, 0.4);
}

a { text-decoration: none }

#primary {
/*	float: left;
	width: 769px;*/
	min-height: 1px;
	margin: 0;
	padding: 10px;
}

#secondary {
	padding-left: 15px;
	margin: 0;
}
#secondary .nav {
    height: 1.5em;
}
#secondary .nav li {
    float: left;
    margin-right: 2em;
}

#primary p, #primary h1, #primary h2, #primary h3, #primary h4; #primary h5, #primary h6 { margin: 4px 0 4px 10px; }

#footer { clear: both; padding-top: 10px; }
#footer p { font-size: .5em; margin: 0px auto; width: 20em; text-align: center; }


.code, .output, .disassembly {
	padding: 0px;
	font-family: Consolas, 'Courier New', Monospace;
	background-color: #FFF;

	border: 1px solid rgba(0, 0, 0, 0.4);
}
.code pre, .output pre, .disassembly pre { padding: 0; min-width: 100%; }
.code td, .output td, .disassembly td { padding-left: 4px; }
.code .highlight, .output .highlight, .disassembly .highlight { background-color: #FDD; }
table.linenumbers {
	padding-right: 4px;
	border-right: solid 2px black;
	width: 30px;
	
	font-size: 13px;
	line-height: 18px;

	cursor: pointer;
}
.linenumbers td {
	text-align: right;
	color: blue;
}

pre {
	padding: 5px;
	display: block;

	font-size: 10pt;
	line-height: 18px;
}

pre.code, pre.output, pre.disassembly { background-color: #FFF; }
pre.errors { background-color: #EFF; }

div.output { max-height: 30em; }
div.code, div.output, div.errors, div.disassembly {
	padding: 5px;
	margin-top: 5px;
	margin-right: 10px;
	overflow-y: auto;
}

form { padding: 5px; }

hr { width: 98%; margin: 4px 0 4px 0; }

textarea.code {
	width: 100%;
	height: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;

	font-size: 13px;
	line-height: 18px;

	border: 1px solid rgba(0, 0, 0, 0.4);
}

.code table.outer { width: 100%; }
.code table.inner { width: 100%; }

#secondary li { margin: 0.4em 0 0 0; }
#secondary li a:visited { color: blue; }

input[type="radio"] {
	margin-right: -4px;
	margin-top: -1px;
	display: inline-block;
}

label[for="IsPrivate"] {
	margin-top: 6px;
	margin-left: -6px;
	display: inline-block;
}

input#Email, input#Website {
    display:none;
}

.middle-action-bar {
	height: 20px;
}

.middle-action-bar li {
	float: left;
	margin-top: 5px;
	margin-right: 20px;
}
